# Ignorar todas las imágenes en el directorio raíz
*.png
*.jpg
*.jpeg
*.gif
# ignore generated html files,
*.py
.Rhistory
# except foo.html which is maintained by hand
!modular_video_cropped.py

!testing_heatmap.png

!heatmap_marinozi.png